@charset "UTF-8";
/*footer de página*/
footer {
  background-color: black;
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 100%; }

/*menu de navegación*/
nav div a img {
  border-radius: 50%;
  width: 80px;
  height: 80px; }

/*fuente roboto*/
/*estilos para la tienda*/
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }

@media (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr; } }

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px; }

.product img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  margin: 2px; }

.product h2 {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: white; }

.product p {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  color: white; }

.select-talle {
  margin-bottom: 10px; }

/* estilos para formulario*/
.container {
  max-width: 800px;
  /* Aumentamos el ancho máximo para hacerlo más grande */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

h1 {
  text-align: center; }

.form-group {
  margin-bottom: 20px; }

label {
  display: block;
  font-weight: bold; }

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; }

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; }

button:hover {
  background-color: #0056b3; }

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%; }
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 8px; }
  button {
    padding: 8px 16px; } }

body {
  background-color: white;
  width: auto; }

/* Contendio página principal */
.image-container {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; }

.image-card {
  position: relative;
  margin: 0 10px;
  overflow: hidden;
  transition: transform 0.3s ease-out; }

.image-card img {
  width: 400px;
  height: 500px;
  transition: transform 0.3s ease-out; }

.image-card:hover img {
  transform: translateY(-10px); }

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease-out; }
  .image-overlay h2, .image-overlay p {
    font-family: "Roboto", sans-serif; }

.image-card:hover .image-overlay {
  transform: translateY(0); }

@media (max-width: 767px) {
  .image-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0; }
    .image-container .image-card img {
      width: 100%;
      margin: 10px 0; } }

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }

.image-card2 {
  position: relative;
  margin: 0 10px;
  overflow: hidden; }

.image-card2 img {
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease-out; }

.image-card2:hover img {
  transform: translateY(-5px); }

.image-card2:hover .image-overlay {
  transform: translateY(0); }

@media (max-width: 767px) {
  .image-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    width: 100%; } }

/*TABLA CON RESULTADOS Y PROXIMOS PARTIDO*/
/*estilos para tablas*/
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

h1 {
  text-align: center; }

thead {
  background-color: red;
  color: #fff; }

th, td {
  padding: 10px;
  text-align: center; }

th {
  font-weight: bold; }

tr:nth-child(even) {
  background-color: #f2f2f2; }

tr:hover {
  background-color: #e6e6e6; }

/*Formulario de contacto*/
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

h2 {
  text-align: center;
  font-family: "Roboto", sans-serif; }

form label {
  display: block;
  margin-bottom: 5px; }

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; }

form textarea {
  resize: vertical; }

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

form button:hover {
  background-color: #0056b3; }

/*Tienda*/
.shop p, .shop h2 {
  color: black;
  font-family: "Roboto", sans-serif; }

.boton-carrito {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; }

.boton-carrito:hover {
  background-color: #0056b3; }

/*Plantel */
.plantel {
  width: 100%;
  height: auto; }
