
/* Estilos para la sección principal */
section {
  padding: 20px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}
.contenedor-imagenes {
  overflow: auto;
}

.contenedor-imagenes img {
  float: left;
  margin-right: 20px;
}
nav div a img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
table {
 
  border-collapse: collapse;
  width: 50%;
border: #333;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
.moron {
  background-color: gray;  
}
.promocion {
  background-color: yellow;
}
.descenso {
  background-color: red;
}
.prox-partido,
.ult-partido {
  margin-top: 20px;
}

.prox-partido h2,
.ult-partido h2 {
  margin-bottom: 10px;
}

.prox-partido table,
.ult-partido table {
  border-collapse: collapse;
  width: 25%;
}

.prox-partido th,
.prox-partido td,
.ult-partido th,
.ult-partido td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.prox-partido th,
.ult-partido th {
  background-color: #f2f2f2;
}
.container {
  display: flex;
  align-items: center;
}

.container img {
  margin-right: 10px; /* Espacio entre la imagen y la tabla */
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .container img {
    margin-bottom: 10px; /* Espacio entre la imagen y la tabla en vista móvil */
    margin-right: 0;
  }
}