

/* Estilos para la barra de navegación */
nav {
  background-color: #444;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}
nav ul li:hover {
  opacity: 2px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
nav li a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Estilos para la sección principal */
section {
  padding: 20px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}
.contenedor-imagenes {
  overflow: auto;
}

.contenedor-imagenes img {
  float: left;
  margin-right: 20px;
}
